nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
}

nav .logo a{
	color: var(--navy);
	font-size: 2em;
	margin-left: 20px;
}

nav .navigation {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

nav .navigation a, .button {
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
	font-size: 1.25em;
}

nav .navigation .button:hover {
	background-color: var(--navy);
}

nav .navigation .button {
	background-color: var(--blue);
	color: var(--white);
	padding: 0 20px;
	border-radius: 20px;
}

.hackathon {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 55px 0 0 0;
}

.hackathon img {
	width: 20%;
	border-radius: 10%;
	border: 5px solid var(--navy);
	padding: 5px;
	box-shadow: 3px 3px 15px 0px;
}

.text {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 18px 0 0 0;
}

.text p {
	font-size: .75em;
	font-style: italic;
	color: var(--navy);
}

.intro {
	padding-top: 20px;
	padding-bottom: 125px;
}

.intro h1 {
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	padding: 35px 2em;
	font-weight: 900;
	font-style: oblique;
}

.intro p {
	width: 100%;
	margin: 5px;
	font-size: 1em;
	padding: 0 2%;
	line-height: 2.5;
	text-indent: 50px;
}

.intro hr {
	margin: 35px 25% 35px 25%;
	width: 50%;
	box-shadow: 4px 1px 10px var(--navy);
}


@media (max-width: 450px) {
	nav .navigation {
		width: 100%;
		padding: 0 5px;
		padding-top: 8px;
		justify-content: space-between;
	}

	nav .navigation .button {
		padding: 0 8px;
	}

	.hackathon img {
		width: 220px;
		height: auto;
	}

	.intro p {
		padding: 0 25px;
	}
}