nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
}

nav .logo a{
	color: var(--navy);
	font-size: 2em;
	padding-left: 20px;
}

nav .navigation {
	margin-right: 5%;
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav .navigation a {
	display: flex;
	padding: 0 70px;
	font-size: 1.25em;
}

nav .navigation .button:hover {
	background-color: var(--navy);
}

nav .navigation .button {
	background-color: var(--blue);
	color: var(--white);
	padding: 0 8px;
	border-radius: 20px;
}

/*Heading 'Contact Me' statement*/
.top {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding-top: 55px;
}

.top h1 {
	font-size: 4em;
}

.top .verticalStack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 35px;
	padding-bottom: 17px;
	line-height: 2em;
}

.top .verticalStack .hor1 {
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 8px;
	border-bottom: 2px solid var(--blue);
}

.top .verticalStack .hor1 p {
	color: var(--navy);
}

.top .verticalStack .hor2 {
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 8px;
	border-bottom: 2px solid var(--blue);
}

.top .verticalStack .hor2 p {
	color: var(--navy);
}

/* Synopsis */
.synopsis {
	margin: 0 30%;
	margin-top: 55px;
}

.synopsis p {
	font-size: 1.25em;
}

.underSyn {
	margin-top: 75px;
	margin-left: 40%;
	margin-right: 40%;
	box-shadow: 0 0 10px var(--navy);
}

/* Social Media Links */
.middle {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10%;
}

.middle a {
	display: flex;
	width: 100px;
	height: 100px;
	border: 3px solid var(--navy);
	padding: 15px;
	border-radius: 12px;
	box-shadow: 5px 5px 10px var(--navy);
}

.middle h2 {
	color: var(--navy);
}

.middle .linkedIn a {
	padding-left: 17px;
	padding-top: 15px;
}

.middle .facebook a {
	padding-left: 28px;
	padding-top: 15px;
}

.middle h2 {
	padding-top: 20px;
}

.bottom {
	color: var(--navy);
	margin-top: 45px;
}
