@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


:root {
	--blue: #4B9CD3;
	--white: #FFFDE4;
	--navy: rgb(29, 29, 95);
}

* {
	position: relative;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
	font-family: Ubuntu;
	color: var(--blue);
	font-size: 18px;
	text-decoration: none;
}

body {
	height: 100%;
	background-color: var(--white);
}

span {
	font-size: inherit;
}

.socials {
	width: 100%;
	display: flex;
	justify-content: end;
	gap: 1em;
}

.socials a {
	height: 35px;
	width: 35px;
	display: flex;
}

hr {
	border: 1px solid var(--navy);
	text-align: center;
}

footer {
	position: fixed;
	width: 100%;
	background-color: rgb(209, 223, 236);
	bottom: 0;
	left: 0;
	padding: 10px;
}