nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav .logo a{
	color: var(--navy);
	font-size: 2em;
}

nav .navigation {
	margin-right: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 2px solid red;
}

nav .navigation a{
	display: flex;
	padding: 0 70px;
	font-size: 1.25em;
}

.main {
	display: flex;
	flex-wrap: wrap;
}

.left, .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: .5em;
	flex: 1;
	padding: 5%;
}

.left {
	padding: 10em 5%;
}

.left p, h1{
	color: var(--navy);
}

.left h1 {
	font-size: 4em;
	font-weight: bold;
}

.left h2 {
	font-size: 2em;
	font-style: italic;
}

.left p {
	margin: 12px 0 12px 0;
	font-size: 22px;
}

.left button {
	background-color: var(--blue);
	color: var(--white);
	padding: .5em 1em;
	cursor: pointer;
	border-radius: 12px;
	font-style: italic;
}

.right {
	align-items: center;
}

.right img {
	max-width: 20em;
	border-radius: 20px;
	border: 5px solid var(--navy);
	padding: 5px;
	box-shadow: 15px 15px 20px 5px;
}