nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
}

nav .logo a{
	color: var(--navy);
	font-size: 2em;
	margin-left: 20px;
}

nav .navigation {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

nav .navigation a, .button {
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
	font-size: 1.25em;
}

nav .navigation .button {
	background-color: var(--blue);
	color: var(--white);
	padding: 0 20px;
	border-radius: 20px;
	transition: all 1s;
}

nav .navigation .button:hover {
	background-color: var(--navy);
	transform: translateY(-2px);
	box-shadow: 0 5px 20px 5px rgba(0, 0, 0, .3);
}

.main {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20%;
}

.left, .right {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	gap: .2em;
	flex: 1;
}

.left {
	padding: 10em 3% 0 3%;
}

.left p, h1{
	color: var(--navy);
}

.left h1 {
	font-size: 4em;
	font-weight: bold;
}

.left h2 {
	font-size: 2em;
	font-style: italic;
}

.left p {
	margin: 12px 0 12px 0;
	font-size: 22px;
}

.left button {
	background: linear-gradient(70deg, var(--blue), var(--white), var(--blue));
	animation: buttonGradient 2s linear infinite;
	color: whitesmoke;
	padding: .5em 1em;
	cursor: pointer;
	border-radius: 12px;
	font-style: italic;
	background-size: 200% 100%, auto;
}

@keyframes buttonGradient {
	0% {
		background-position: 100% center;
	}
	100% {
		background-position: -100% center;
	}
}

.right {
	align-items: center;
	margin-top: 6em;
}

.right img {
	max-width: 20em;
	border-radius: 20px;
	border: 5px solid var(--navy);
	padding: 5px;
	box-shadow: 15px 15px 20px 5px;
}

@media (max-width: 450px) {
	nav .navigation {
		width: 100%;
		padding: 0 5px;
		padding-top: 8px;
		justify-content: space-between;
		font-size: 14px;
	}

	nav .navigation .button {
		padding: 0 8px;
		animation: button 1s infinite alternate;
	}

	@keyframes button {
		100% {
			background-color: var(--navy);
		}
	}

	.left {
		padding-top: 1.2em;
	}

	.right {
		margin-top: 2em;
		margin-bottom: 10%;
	}

	.right img {
		width: 320px;
		height: auto;
	}

	footer {
		display: none;
	}
}