nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
}

nav .logo a{
	color: var(--navy);
	font-size: 2em;
	margin-left: 20px;
}

nav .navigation {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

nav .navigation a, .button {
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
	font-size: 1.25em;
}

nav .navigation .button:hover {
	background-color: var(--navy);
}

nav .navigation .button {
	background-color: var(--blue);
	color: var(--white);
	padding: 0 20px;
	border-radius: 20px;
}

/* Courses */
.courses {
	margin-top: 55px;
}

.courses h1 {
	display: flex;
	justify-content: center;
	font-size: 1.75em;
}

.courses .para {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 5%;
	margin-top: 25px;
	border: 2px solid var(--navy);
	border-radius: 12px;
	box-shadow: 0 0 8px var(--navy);
}

.courses p {
	padding: 15px;
	color: var(--navy);
}

/* Projects */
.projects {
	margin-top: 55px;
}

.projects h1 {
	display: flex;
	justify-content: center;
	font-size: 1.75em;
}

	/* Project 1 */
.project1 {
	margin: 0 2% 0 5%;
	margin-top: 15px;
}

.project1 h1 {
	display: flex;
	justify-content: left;
	font-size: 1.2em;
}

.projects .proj1des p {
	margin: 8px 2%;
	font-size: 1em;
}

.project1 a {
	margin: 0 4%;
	color: var(--navy);
	font-style: italic;
}

	/* Project 2 */
.project2 {
	margin: 0 2% 0 5%;
	margin-top: 15px;
}

.project2 h1 {
	display: flex;
	justify-content: left;
	font-size: 1.2em;
}

.projects .proj2des p {
	margin: 8px 2%;
	font-size: 1em;
}

.project2 a {
	margin: 0 4%;
	color: var(--navy);
	font-style: italic;
}

/* Project 3 */
.project3 {
	margin: 0 2% 0 5%;
	margin-top: 15px;
}

.project3 h1 {
	display: flex;
	justify-content: left;
	font-size: 1.2em;
}

.projects .proj3des p {
	margin: 8px 2%;
	font-size: 1em;
}

.project3 a {
	margin: 0 4%;
	color: var(--navy);
	font-style: italic;
}

/* Experiences */
.experience {
	margin: 55px 5% 0 5%;
}

.experience h1 {
	display: flex;
	justify-content: center;
	font-size: 1.75em;
	margin-top: 15px;
}

.exp1 h1 {
	display: flex;
	justify-content: left;
	font-size: 1.4em;
}

.exp1 h2 {
	font-size: 1.05em;
	color: var(--navy);
}

.exp1 p {
	margin-left: 2%;
	font-size: .95em;
	padding-top: 15px;
}

.photo {
	margin: 55px 5% 15% 5%;
}

.photo h1 {
	display: flex;
	justify-content: center;
	font-size: 1.7em;
}

/* Project 1 Photos */
.photo .f1 {
	background-color: rgba(38, 38, 38, .55);
	border-radius: 20px;
	padding: 10px 0 55px 0;
	margin-top: 20px;
}

.photo .f1 h1 {
	font-size: 1.05em;
	font-style: italic;
	margin-top: 35px;
	color: var(--white);
}

.photo .f1 .images {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 25px;
}

.photo .images img {
	height: 550px;
	width: auto;
	border: 3px solid var(--navy);
	border-radius: 20px;
	margin-top: 15px;
}

/* Project 2 Photos */
.rust {
	background-color: rgba(38, 38, 38, .55);
	border-radius: 20px;
	padding: 10px 0 55px 0;
	margin-top: 20px;
}

.rust h1 {
	font-size: 1.05em;
	font-style: italic;
	margin-top: 35px;
	color: var(--white);
}

.rust .images2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 25px;
}

.images2 img {
	width: 480px;
	height: auto;
	border: 3px solid var(--navy);
	border-radius: 20px;
	margin-top: 15px;
}

/* Project 3 Photos */
.weather {
	background-color: rgba(38, 38, 38, .55);
	border-radius: 20px;
	padding: 10px 0 55px 0;
	margin-top: 20px;
}

.weather h1 {
	font-size: 1.05em;
	font-style: italic;
	margin-top: 35px;
	color: var(--white);
}

.weather .images3 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 25px;
}

.images3 img {
	height: 550px;
	width: auto;
	border: 3px solid var(--navy);
	border-radius: 20px;
	margin-top: 15px;
}

@media (max-width: 450px) {
	nav .navigation {
		width: 100%;
		padding: 0 5px;
		padding-top: 8px;
		justify-content: space-between;
	}

	nav .navigation .button {
		padding: 0 8px;
	}

	.courses {
		margin-top: 40px;
	}

	.images2 img {
		width: 325px;
		height: auto;
	}
}